@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*font-family: 'Bebas Neue', cursive;*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    background-color: rgb(0, 0, 0);
    background-image: url(../img/barberia4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    background-image: url(../img/barberia4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: auto;
    color: white;
    
}

.header-content {
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.titulo {
    margin-bottom: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    font-weight: 100;
    color: rgba(251, 46, 46, 0.659);
}

.sub-titulo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin: 50px;
    color: white;
}

.btn-1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(252, 248, 248);
}

.nav-link {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.active {
    color: white;
}

.btn-1:hover {
    background-color: rgb(208, 74, 74);
    color: rgb(255, 255, 255);
}


.nav-link:hover {
    color: white;
    font-size: 1.2rem;
    background-color: rgba(193, 190, 190, 0.204);
    border-radius: 5px;
    
}

.header-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.dir {
    margin-right: 35px;
    margin-left: 20px;
    margin-top: 50px;
}

.dir h3{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

.dir p {
    color: brown;
    font-size: 1.3rem;
    font-weight: 400;
}

.columns {
    display: flex;
    width: 80%
}

.redes {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.redes li {
    padding: 15px;
    font-size: 20px;
}


.pantalla-dividida {
    display: flex;
    margin-bottom: 50px;
    padding: 40px;
}

span {
    color: brown;
}

.h2-nosotros {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    margin-bottom: 50px;
    color: rgb(209, 205, 201);
}

.p {
    margin-bottom: 50px;
    color: white ;
    border-top: 1px solid brown;
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.a:visited {
    color: rgb(211, 210, 210);
}

.a:link {
    color: rgb(211, 210, 210);
}


.carousel {
   width:100vh;
   height: 50%;
}

.barberos {
    width: auto;
    height: auto;
    border-left: 1px solid brown;
    padding: 40px;

}

.equipo {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.barbero {
text-align: center;
align-items: center;
}

.nombre {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    padding: 10px;
    color: white;
    text-align: center;
}

